@font-face {
  font-family: 'fontelloold';
  src: url('../font_old/fontello.eot?96438991');
  src: url('../font_old/fontello.eot?96438991#iefix') format('embedded-opentype'),
       url('../font_old/fontello.woff?96438991') format('woff'),
       url('../font_old/fontello.ttf?96438991') format('truetype'),
       url('../font_old/fontello.svg?96438991#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96438991#fontello') format('svg');
  }
}
*/
 
 [class^="iconold-"]:before, [class*=" iconold-"]:before {
  font-family: "fontelloold";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
 
/*.icon-down-open-1:before { content: '\e881'; }
.icon-cancel-circled-2:before { content: '\e822'; }
.icon-cog-3:before { content: '\ea34'; }
.icon-cog-alt:before { content: '\ea35'; }
.icon-pencil-2:before { content: '\ea07';   margin-left: 0; margin-right: 0;}*/
.iconold-pencil-circled:before {content: '\e846'; }
.iconold-folder-2:before {content: '\ea29'; }
/*.icon-cancel-2:before { content: '\e9d3';   margin-left: 0; margin-right: 0; }
.icon-eye-1:before { content: '\e834';   margin-left: 0; margin-right: 0; }
.icon-plus:before { content: '\e9d6'; margin-left: 0; margin-right: 0; }
.icon-right-dir-1:before { content: '\ea55'; }
.icon-reply:before { content: '\e955'; }
.icon-logout:before { content: '\e966';  margin-left: 0; margin-right: 0; }
.icon-home-2:before { content: '\eb8e'; margin-left: 0; margin-right: 0;}
.icon-search-3:before { content: '\e9b8'; }
.icon-ok-3:before { content: '\eca8';  margin-left: 0; margin-right: 0; }
.icon-left-open-1:before { content: '\e882'; }
.icon-right-open-1:before { content: '\e883'; }
.icon-info-1:before { content: '\eb8b'; }
.icon-left-dir-2:before { content: '\ee8f'; }
.icon-check:before { content: '\e8cc'; }
.icon-up-dir-2:before { content: '\ee91'; }
.icon-resize-full-alt:before { content: '\e801'; }*/








